.display-1{
	font-family:"Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	color: white;
}
.display-2{
	font-family:"Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	color: white;
}
.display-3{
	font-family:"Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	color: white;
}

#Sheeple{
	text-align: center;
	font-family:"Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	color: white;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}

body {
	background-image: url('backgroundimage.jpg');
}

#pagination{
	font-size:15px;
	font-family:"Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	color: white;
	padding-left: 45px;
}

#pages{
	font-size: 15px;
	font-family:"Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	color: white;
}

#search{
	font-family:"Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 15px;
	color:white;

}

#city{
	font-family:"Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 10px;
}

#state{
	font-family:"Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 10px;
}

#dateTime{
	font-family:"Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 10px;
}

#shape{
	font-family:"Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 10px;
}

#dataTable{
	font-family:"Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 10px;
	margin-top: 150px;
	margin-left:15px;
	margin-right: 15px;
}

#or{
	font-family:"Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 7px;
	color:white;
}

#headers{
	font-family:"Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 12px;
}

/*.form-group{
	padding-top: 100px;
}*/

img{
	position: absolute;
    top: 500px; bottom:0; left: 0; right:0;
    margin: auto;

}




